In [4]:
#Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
#Importing dataset
df = pd.read_csv("data/50_Startups.csv")
X = df.iloc[:,:-1]
y = df.iloc[:,4]

In [6]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [7]:
#check if there is any null values or not using below command. If yes, then use Imputer class to handle missing values.
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [8]:
#check for any categorical variable (if any)
#Encoding categorical data in this case (independent variable)
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
labelencoder_X = LabelEncoder()
X.iloc[:,3] = labelencoder_X.fit_transform(X.iloc[:,3])
onehotencoder = OneHotEncoder(categorical_features=[3])
X = onehotencoder.fit_transform(X).toarray()

In [9]:
#Alert! Avoid the dummy variable trap by removing any one dummy variable
X = X[:, 1:]

In [10]:
#split data into train and test dataset
from sklearn.cross_validation import train_test_split  #(for python2)
#from sklearn.model_selection import train_test_split  (for python3)
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

In [11]:
#no feature scaling is reuqired as Multiple Linear Refression algorithm take care by itself

In [12]:
#fit data into the model
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)
y_pred = regressor.predict(X_test)

In [13]:
y_pred

array([ 103015.20159796,  132582.27760815,  132447.73845175,
         71976.09851258,  178537.48221056,  116161.24230166,
         67851.69209676,   98791.73374687,  113969.43533013,
        167921.06569551])

In [14]:
y_test

28    103282.38
11    144259.40
10    146121.95
41     77798.83
2     191050.39
27    105008.31
38     81229.06
31     97483.56
22    110352.25
4     166187.94
Name: Profit, dtype: float64

In [21]:
y_compare = pd.DataFrame(
    {'Original Profit': y_test,
     'Predicted Profit': y_pred,
     'Residual Error' : y_test-y_pred
    }).reset_index()
y_compare

   index  Original Profit  Predicted Profit  Residual Error
0     28        103282.38     103015.201598      267.178402
1     11        144259.40     132582.277608    11677.122392
2     10        146121.95     132447.738452    13674.211548
3     41         77798.83      71976.098513     5822.731487
4      2        191050.39     178537.482211    12512.907789
5     27        105008.31     116161.242302   -11152.932302
6     38         81229.06      67851.692097    13377.367903
7     31         97483.56      98791.733747    -1308.173747
8     22        110352.25     113969.435330    -3617.185330
9      4        166187.94     167921.065696    -1733.125696